.column {
    display: flex;
    justify-content: center;
}

.row {
    margin-block: 1em;
}

.palName {
    background-color: rgb(71, 71, 175);
    padding: 0.5em;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    font-weight: 500;
    margin-left: 0.75em;
}

@media (max-width: 1440px) {
    .palName {
        margin-left: 0;
    }
}

.cardBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}